<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Rich Goose</title>
</head>
<body>
    <div>
    <h1>RichGoose.AI</h1>
    <form method="post">
        
        <input id="user-input"placeholder="Input Stock Ticker" type="text" name="ticker">
        <input id="btn"type="submit" value="Get Stock Info">
    </form>
</div>
</body>
</html>



